html{
	
font-family: "Open Sans", Arial, Tahoma, sans-serif;/* Same font Type for every page */
	
font-size  : 20px; /* Set a default page*/
	
text-align : center;
}

#menu{ /* Edit the Menu in the Header */
	
	color : white; 
}

.navbar > ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
}

.navbar li {
    float: left;
    font-size: 16px;
    font-family:arial;
}

#surveyLogout
{
    float: right;
}

#newGroupName{
    display: none;
}

#inspiredLogo{
    float: left;
    margin-right: 2%;
}


.navbar  li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar img {
    display: block;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #ccc;
}

.imageBTN{
    
    height:80%;
    width:80%;
}
.BottomImagePanel
{
    width: 60%;
    height: 300;
    margin: auto;
}

.TopImagePanel{
    width: 60%;
    height: 300;
    margin: auto;
}
.imageAndHref img{
    height: 40%;
    float:top;
}
.imageAndHref a{
    height: 10%;
    float:bottom;
}



#menuIcon{
	
	width : 25%;
	height: 25%;
}

#menuButton{
	
	width : 5%;
}

#header_title{
	
	font-size : 50px; /* Change font Size */
	font-weight : bold; /* Set Bold Text */
	letter-spacing: 5px; 
	line-height: 1;
	color : white; /* (Light Blue) Color */ 
	text-align : center; /* Set Text Allignment to the center */
        text-decoration-style: solid; /* Solid Text */
        margin-bottom: 50px;
        margin-top: 50px;
}

#header_banner, .questions {
	
	/* Add Shadow to the selected elements */
	opacity : 0.95;
        /*
	-webkit-box-shadow: 9px 7px 300px 41px rgba(18,171,205,1);
	-moz-box-shadow: 9px 7px 300px 41px rgba(18,171,205,1);
	box-shadow: 9px 7px 300px 41px rgba(18,171,205,1);
        */
        
	border: 10px solid #000000; 
	/*border-radius: 150px 30px;*/
	background-color: black;
}

body{
	
    /*The image used */
    /*background-image: url("../css/background_image.jpg");*/
    background-image: url("../css/inspbckgr.png");
	/* background-color : #13233d; 	Light Silver Background Color */
    
	/* Full height */
    height: 100%; 
    margin:0;
    /* Center and scale the image nicely */
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7%;
}



#q_description{
	margin-left: 1%;
	font-size : 30px; /* Change font Size */
	color : #12abcd; /* (Light Blue) Color */
}

.questions{
        z-index: 1;
	margin: auto;
	width : 85%;
	background-color: whitesmoke;
	font-size: 20px;
	color : gray;
	border: 5px solid grey;
	border-radius: 10px;
	margin-top: 4%;
}

.surveyDiv{
        z-index: 1;
	margin: auto;
	width : 85%;
	background-color: whitesmoke;
	font-size: 20px;
	color : gray;
	margin-top: 7%;
        text-align:left;
}

.textbox{
    width: 300px;
    margin-bottom: 2.5%;
    /* margin-top: 2.5%; */
    height: 2.58em;
}

.questiontext{
    width: 300px;
    margin-bottom: 2.5%;
    margin-right: 0.5%;
    /* margin-top: 2.5%; */
    height: 2.58em;
    /*border: 3px solid;*/
}

button {
    margin-bottom: 2.5%;
    margin-top: 2.5%;
    margin-right:  0.6%;
    margin-left:  0.6%;
}

.question{
    color : white;
    background-color : black;    
}

#question_text{
	
	color : white;
        margin-top: 50px;
}



#question_answers{
	
	font-size : 65px;
}

footer{

	    opacity: 0.95;
	/* Add Shadow to the selected elements */
	-webkit-box-shadow: 3px -22px 100px 20px rgba(255,255,255,1);
	-moz-box-shadow: 3px -22px 100px 20px rgba(255,255,255,1);
	box-shadow: 3px -22px 100px 20px rgba(255,255,255,1);

	border: 10px solid #12abcd; 
	border-radius: 150px 30px;
	background-color: white;
	
	/* Add footer at the very bottom 
	position: fixed;
    left: 0;
    bottom: 0;
	width : 95%;*/
}

#footer_element{
	
	display : inline-block;
	width : 33%
}

th:first-child{
	border-top-left-radius:5px;
}

th:last-child{
	border-top-right-radius:5px;
}

select{
	
    width: 10em;
    height: 3em;
}

.longselect{	
    background-color:white;
    width: 50%;
    height: 3em;
}

.comboDiv{
	margin-top:5%;
}

h3 {
    margin-left: 1%;
    font-size: 25px !important;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.firstColumn{
    text-align: left !important;
}

.columns
{
    text-align: center !important;
}

td, th {
    text-align: center;
    padding: 8px !important;
}

th{
     background-color: black;
     color : white;
}

tr:nth-child(even) {
    background-color:#e3e3e3;
}

button,input[type=submit] {
    background-color: grey; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: right;
    /* text-align: center; */
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover, input[type=submit]:hover {
    background-color: lightgray;
}

.sbuilderheader
{
    z-index: 1;
    bottom:0;
    position:fixed;
    width:100%;
    height: 65px;
    display: block;
    overflow: hidden;
    color:white;
    background-color:black;
}

#surveyName{
    border: 2.5px solid;
}

.sbuilderheader button{    
    line-height: 5px;
    margin-top:15px;   
}

#submitForm {
    display:inline;
}

td > button
{
    outline:0;
    padding: 0;
    font-size: 25px;
    color:crimson;
    background-color:rgba(0, 0, 0, 0);
}

td > .editLink
{
	margin-left:5%;
	outline:0;
    padding: 0;
    font-size: 25px;
    color:#d08b23;
    background-color:rgba(0, 0, 0, 0);
}

.editLink:hover
{
	color: #ff9901;
}

td > button:hover {
    color:red;
    background-color:rgba(0, 0, 0, 0);
    border: 0px solid rgba(0, 0, 0, 0) !important;
}

.modal-header{
    background-color: crimson;
    color: white;
}

#modalSurvey
{
    font-weight: bold;
    color:#12abcd;
}

.modal-dialog{
    padding: 140px 0;
}

input, textarea{
    /* margin-left: 5% !important; */
    margin-bottom:4%;
}

#myForm input, #myForm textarea{
    margin-left: 5% !important;
}

#submitButton{
    margin-top:2%;
    text-align:center;
}

#uploadText{
	width:60%;
	margin:auto;
	margin-bottom:2%;
}

#deleteIcon{
	color:black;
	font-weight: bold;
}

#deleteIcon:hover{
	color:#ad1e1e;
	font-weight: bold;
	cursor:pointer;
}

.loginForm input[type=text],.loginForm input[type=password] {
	width:40%;
	height:30px;
}

.iconGlyph{
	font-size: 1250%;
	margin-top:5%;
	color:#bdbdbd !important;
}

.iconGlyph:hover{
	color:#c34949 !important;
}

.serviceBar{
	width:60%;
}


.serviceBar h4{
	color:black;
	font-weight:bold;
}

.serviceBar h4:hover
{
    color: #ad1e1e;
    font-weight:bold;
}

.tableDiv{
	color:grey;
	font-size:14px;
	width:80%;
	margin:auto;
	margin-top:3%;
        margin-bottom:5%;
        background-color:whitesmoke;
}

.userTable th{
    text-align:center;
}

.userTable span {
    font-size:21px;
}

.deleteIcon{
    color:#c34949;
}

.deleteIcon:hover{
    color:red;
    cursor:pointer;
}

.editIcon{
    color:#d08b23;
}

.editIcon:hover{
    color:#ff9901;
    cursor:pointer;
}

.modal-body input[type=text],.modal-body input[type=password], .modal-body select {
	margin:auto;
	width:60%;
	height:30px;
	border: 1px solid #b7b6b6;
}

.modal-body label{
	margin-top:2%;
	color:#4e4e4e;
}

#addModal .modal-header{
	background-color:#444444;
}

#editModal .modal-header{
	background-color:#d08b23;
}

.addButton{
	float: left;
	color:white;
	background-color:#54a254;
	margin-left: 10%;
	border-radius: 5px;
}

.userModals{
	margin-top:-7%;
}

.invalidInput {
	border: 2px solid red !important;
}

#groupForm textarea {
    width: 50%;
    font-family: "Open Sans", Arial, Tahoma, sans-serif;
}

#errorEmails{
    color:red;
}

#groupEmailDelete:disabled{
     background: #dddddd;
}