 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: header">
        <title>Dallos Survey Manager</title>
        <script src="../js/javascript.js"></script>
        
    </head>
    
    <body id="body" onLoad="onLoadInstantiate()">
        <div th:replace="template :: navbar"/>
        <h3 id="overviewHead" class="overviewText">Survey Creation</h3>
        <hr width="80%"></hr>
        <p class="overviewText">Here you can create a new survey. Add a question, set possible answers, input a survey name and voalla!!!</p>
        
        <div class="sbuilderheader">
            <!--<h1>Survey Builder</h1>-->
            Survey Name:
            <input id="surveyName" type="text" name="sName" class="textbox"></input>
            <button onclick="createQuestion()" type="button" name="createQ">Add Question</button>
            <form id="submitForm" onsubmit="return constructString()" method="post" >
                <input type="text" id="xmlForm" name="mytextform" value="" style="display:none"></input>
            <button id="saveButton" type="submit">Save Survey</button>
            
            </form>
            <br></br>
        </div>
        <input type="hidden" id="questionCount" value="0"></input>
		
	<div id="div0" class="questions" style="display:none"></div>        
    </body>
    
</html>
