<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: header">
        <title>Hello Spring</title>
    </head>
    <body>

    <div th:replace="template :: navbarLoggedOut"/>
        
    <div class="questions loginForm">
    <p id="errorEmails" th:utext="${loginMessage}"></p>
        <form method="POST" action="/login">
            <h2>Log in</h2>

                <input name="username" type="text" class="form-control" placeholder="Username"
                       autofocus="true"/>
                <br/>
                <input name="password" type="password" class="form-control" placeholder="Password"/>
                <br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>

        </form>
    </div>
    </body>
    
    <div th:replace="template :: footer"></div>
</html>