<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:th="http://www.thymeleaf.org">
    <!-- Head with bootstrap and p5-->
    <head>
        <title th:text="${title}">Dallos Survey Manager</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
        <script type="text/javascript" th:inline="javascript" src="/js/javascript.js" th:src="@{/js/javascript.js}"></script> 
        <script type="text/javascript" th:inline="javascript" src="/js/stackedBarChart.js" th:src="@{/js/stackedBarChart.js}"></script>
        <script th:inline="javascript">
        /*<![CDATA[*/

            
            var arrayOfLegends = [[${answersArray}]];
            var arrayOfMonths = [[${respondentDataArray}]];
            var arrayOfMonths_TEXT = [[${arrayOfMonthText}]];
            
        /*]]>*/
        </script>
        <link href="../../css/styles.css" th:href="@{../../css/styles.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    </head>
    <body>
        <div th:replace="template :: navbar"/>
        <div th:utext="${myBreadcrumbs}"></div>
        <div th:utext="${stats}">DEFAULT MESSAGE</div>
    </body>
</html>
