<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <title th:text="${title}">Hello Spring</title>
        <link th:href="@{/css/styles.css}" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!--<script th:src="@{/js/script.js}"></script>!-->
        
    </head>
    <body>
        <form method="post">
            <input type="text" name="name"/>
            <button type="submit">say hello!</button>
        </form>
    </body>
    
    <p th:fragment="footer">
        example footer
    </p>
</html>
