<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <title th:text="${title}">Dallos Survey Manager</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link href="../css/styles.css" th:href="@{../css/styles.css}" rel="stylesheet"/>
        <script type="text/javascript" th:inline="javascript" src="../js/javascript.js" th:src="@{../js/javascript.js}"></script>    
        <!--<script th:src="@{/js/script.js}"></script>!-->
    </head>
    <head th:fragment="bootstrapHeader">
        <title th:text="${title}">Dallos Survey Manager</title>
        <link href="../../css/styles.css" th:href="@{../../css/styles.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div th:fragment="banner" id = "header_banner"><h1 id="header_title">Inspired Gaming Surveys</h1></div> 
        <div th:fragment="navbar" class="navbar">
            <ul>
                <img id="inspiredLogo" src="img/inspiredLogo.png" />
                <li><a href="landing">Home</a></li>
                <li><a href="surveyBuilder">Create a Survey</a></li>
                <li><a href="survey_results">View Results</a></li>
                <li><a href="sendemails">Send a Survey</a></li>
                <li><a href="uploademails">Upload Emails</a></li>
                <li id="surveyLogout"><a href="sLogin">logout</a></li>
            </ul>
        </div>
        <form method="post">
            <input type="text" name="name"/>
            <button type="submit">say hello!</button>
        </form>
    </body>
    <p th:fragment="footer">
        example footer
    </p>
</html>
