<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:fragment="header">
        <title th:text="${title}">Dallos Survey Manager</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <link href="../css/styles.css" th:href="@{../css/styles.css}" rel="stylesheet"/>
        <script type="text/javascript" th:inline="javascript" src="../js/javascript.js" th:src="@{../js/javascript.js}"></script> 
        <script type="text/javascript" th:inline="javascript" src="../js/groupEmailJavascript.js" th:src="@{../js/groupEmailJavascript.js}"></script>
        <!--<script th:src="@{/js/script.js}"></script>!-->
    </head>
    
    <!-- Head with bootstrap-->
    <head th:fragment="bootstrapHeader">
        <title th:text="${title}">Dallos Survey Manager</title>
        <link href="../../css/styles.css" th:href="@{../../css/styles.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"></link>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    
    
    <!-- Head with bootstrap and p5-->
    <head th:fragment="bootstrapP5Header">
        <title th:text="${title}">Dallos Survey Manager</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.0/p5.js"></script>
        <script type="text/javascript" th:inline="javascript" src="../js/javascript.js" th:src="@{../js/javascript.js}"></script> 
        <script type="text/javascript" th:inline="javascript" src="../js/resultPageScript.js" th:src="@{../js/resultPageScript.js}"></script> 
        <link href="../../css/styles.css" th:href="@{../../css/styles.css}" rel="stylesheet"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>
    </head>
   
    
    <body>
        <!-- Placeholder banner-->
        <div th:fragment="banner" id = "header_banner"><h1 id="header_title">Inspired Gaming Surveys</h1></div> 
        
        <!-- navbar for surveyors-->
        <div th:fragment="navbar" class="navbar">
            <ul>
                <img id="inspiredLogo" src="/img/inspiredLogo.png" />
                <li><a href="/landing">Home</a></li>
                <li><a href="/surveyBuilder">Create a Survey</a></li>
                <li><a href="/survey_results">View Results</a></li>
                <li><a href="/sendemails">Send a Survey</a></li>
                <li><a href="/groupmanagement">Manage Groups</a></li>
                <li id="surveyLogout"><a href="/login">Logout</a></li>
            </ul>
        </div>
        
        <!-- navbar when logged out-->
        <div th:fragment="navbarLoggedOut" class="navbar">
            <ul>
                <img id="inspiredLogo" src="img/inspiredLogo.png" />
            </ul>
        </div>
        
        <!-- navbar for administrators-->
        <div th:fragment="navbarAdmin" class="navbar">
            <ul>
                <img id="inspiredLogo" src="/img/inspiredLogo.png" />
                <li><a href="/landingAdmin">Home</a></li>
                <li><a href="/user_admin">User Admin</a></li>
                <li id="surveyLogout"><a href="/login">Logout</a></li>
            </ul>
        </div>
        <form method="post">
            <input type="text" name="name"/>
            <button type="submit">say hello!</button>
        </form>
    </body>
    <p th:fragment="footer">
        
    </p>
</html>
