<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="template :: header">
        <title>Dallos Survey Manager</title>
    </head>
    <body>
        <div th:replace="template :: navbar"/>
        <h3 id="overviewHead" class="overviewText">Group Management</h3>
        <hr width="80%"></hr>
        <p class="overviewText">You can use the form below to create and edit the groups used to 
            determine who is invited to complete a survey. 
               
            Enter each email on a <span id="modalSurvey">separate</span> line.</p>
        
        
        
        <form id="groupForm" name="emailForm" method="post">
            
            <br/>
            <select id="groupSelect" class="longselect" name="groups" th:utext="${groupSelectList}"></select>
            <br></br>
            <br></br>
            <input id="newGroupName" class="longselect" name="groupName" placeholder="Enter new group's name" type="text" autofocus="true"/>
            <br/>
            <textarea th:utext="${emailTextArea}" id="emailList" placeholder="Enter a list of emails here" rows="10" name="emails" form="groupForm"></textarea>
            <br></br>
            <input id="saveEmails" type="submit" name="upload" value="Upload Group"></input>
            <input id="groupEmailDelete" type="submit" name="delete" value="Delete Group" onClick="return confirm('Would you like to delete this Group?')"></input>
        </form>
            
        
    </body>
    
    <div th:replace="template :: footer"></div>
</html>